# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../food-shop\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\UAT\food-shop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
